body {
    font-family: Arial, sans-serif;
}

header {
    margin-top: 20px;
}

section {
    margin-top: 20px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
